{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
 
<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/init.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/init.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/kpr.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/kpr.config.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/kpr.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/postulations/postulations.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/postulations/services/postulations.services.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/postulations/controllers/new-post.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.services.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/postulations/controllers/post-settings.controller.js' %}"></script>

