{% load staticfiles %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'bower_components/materialize/dist/css/materialize.min.css' %}" />

<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'bower_components/materialize/dist/css/style.css' %}" />

<link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'bower_components/materialize/dist/css/prism.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/materialize/dist/css/icon.css' %}" />